@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lato:ital@1&family=Rubik+80s+Fade&family=Rubik+Vinyl&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", +"Arial Narrow", Arial, sans-serif;
  width: inherit;
}
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  width: 255px;
  float: left;
  margin: -21px 0 0 -122px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}
.content {
  text-align: left;
}
.content h1 {
  font-weight: 600;
  font-size: 40px;
  position: relative;
  top: -170px;
  left: -90px;
  background: -webkit-linear-gradient(#cc2b5e, #753a88);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lato", sans-serif;
}
.video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  border-radius: 30px;
  margin: 30px 0px;
  padding: 8px 30px;
  width: 13ch;
  text-decoration: none;
}
.btn2 {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  border-radius: 30px;
  margin: 30px 0px;
  padding: 8px 30px;
  width: 15ch;
  text-decoration: none;
}
